<style>   #barre {
    background-color: black;
height: 46px;
width: 100%;
}
.barre1 {
padding: 12px;
float: left;
min-width:125px;
}
.barre2 {
padding: 5px;
float: left;
padding-left: 55%;
min-width:100px;
}
.barre3 {
padding: 5px;
float: left;
padding-left: 85%;
min-width:100px;
position: fixed;
}</style>
<div id="barre">
    <div class="barre1"><strong>Administrateur</strong></div>
    <div class="barre2"><strong><span class="material-icons-outlined">
        person
        </span> Sudo M97</strong></div>
    <div class="barre3"><strong>
        <button class="buttonDeconect"><span class="material-icons-outlined">
            power_settings_new</span>Déconnexion</button> </strong></div>
</div>
