<nav class="navbar navbar-expand-lg navbar-black bg-black " style="background-color: #000;">
    <div class="container-fluid">
      <a class=" text-white" href="#"><h5>Administrateur</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item float-end">
            <a class="btn nav-link text-white" aria-current="page" href="#"><i class="bi bi-person-fill"></i> {{prenom}} {{nom}}</a>
          </li>
          <li class="nav-item ">
            <a class="btn nav-link text-white" routerLink="/"><i class="bi bi-box-arrow-left"></i> Deconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container" style="margin-top: 40px;">
    <div class="card">
        <div class="text-center" style="background-color: #BDBDBD; color: #000;">
            <h4>Inscription</h4>
        </div>
        <div class="card-body" >
            <form  > 
                <div class=" row mb-5">
                    <label for="exampleInputPrenom" 
                    class="col-md-1 col-form-label">
                    Prenom</label>
                    <div class="col-md-4">
                        <input name="prenom" 
                        ngModel type="text" 
                        class="form-control" 
                        placeholder="Prenom" 
                        id="exampleInputNom"
                        value="{{prenom}}"
                        />
                    </div>
                    <label for="exampleInputNom"  
                    class="col-md-1 col-form-label">
                    Nom</label>
                    <div class="col-md-4">
                        <input name="nom" 
                        ngModel type="text" 
                        class="form-control" 
                        placeholder="Nom" 
                        id="exampleInputEmail1"
                        value="{{nom}}"
                        />
                    </div>
                </div>
                
                <div class="form-group row mb-6">
                    <label for="exampleInputTelephone" 
                    class="col-md-1 col-form-label" >
                    Téléphon</label>
                    <div class="col-md-4">
                        <input name="telephone" 
                        ngModel type="text" 
                        class="form-control" 
                        placeholder="Téléphone"
                        id="exampleInputTelephone"
                        value="{{prenom}}"
                        />
                    </div>
                    <label for="exampleInputEmail" 
                    class="col-md-1 col-form-label">
                    E-mail</label>
                    <div class="col-md-4">
                        <input name="email" 
                        ngModel type="text" 
                        class="form-control" 
                        placeholder="E-mail" 
                        id="exampleInputEmail"
                        value="{{tel}}"
                        />
                    </div>
                </div>
                
                <div class="form-group row mb-5">
                    <label for="exampleInputAdress" 
                    class="col-md-1 col-form-label">
                    Adress</label>
                    <div class="col-md-4">
                        <input name="adresse" 
                        ngModel type="text" 
                        class="form-control" 
                        placeholder="Adress"
                        id="exampleInputAdress"
                        value="{{adresse}}"
                        />
                    </div>
                    <label for="exampleInputPseudo" 
                    class="col-md-1 col-form-label">
                    Pseudo</label>
                    <div class="col-md-4">
                        <input name="pseudo" 
                        ngModel type="text" 
                        class="form-control" 
                        placeholder="Pseudo"
                        id="exampleInputPseudo"
                        value="{{username}}"
                        />
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-1">
                        <label for="cars">Role</label>
                    </div>
                    <div class="col-md-6 ">
                        <select ngModel name="role" id="cars" value="{{role}}">
                            <option value="Administrateur">Administrateur</option>
                            <option value="Formateur">Formateur</option>
                            <option value="Etudiant">Etudiant</option>
                            <option value="Finance">Finance</option>
                            
                        </select>
                    </div>
                </div>
                <div class="offset-md-2 col-md-4 my-5">
                    <!-- <button (click)='retour()' class="btn btn-outline-secondary mr-5" type="button">
                        Annuler
                    </button> -->
                    <button (click)='modifier(id)'  class="btn btn-info mr-4" type="submit">
                        Enregistrer
                    </button>
                </div>
            </form>
            
        </div>    
    </div>
</div>