<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Administrateur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item float-end">
            <a class="btn nav-link text-white" aria-current="page" href="#"><i class="bi bi-person-fill"></i> {{prenom}} {{nom}}</a>
          </li>
          <li class="nav-item ">
            <a class="btn nav-link text-white" href="#"><i class="bi bi-box-arrow-left"></i> Deconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-3 text-white">
        <div class="titre bg-dark">
            <p>Utilisateurs</p>
        </div>
        <div *ngFor="let user of dataUser" class="user border border-2 rounded bg-dark">
          <a (click)="detail(user.id)" class="btn text-white" ><p><i class="bi bi-person-fill"></i> {{user.prenom}} {{user.nom}} - {{user.role}}</p></a>
        </div>
    </div>
    <div class="col-md-9">
     <!--  <div class="container">
        <div *ngIf="etat" class="card" style="width: 18rem;">
          <div class="card-header">
            <h3>Informations</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h2>Role : {{roleUser}}</h2>
              <h3>Prenom : {{prenomUser}}</h3>
              <h3>Nom : {{nomUser}}</h3>
              <h3>Age : {{ageUser}}</h3>
              <h3>Telephone : {{telUser}}</h3>
              <h3>Identifiant : {{detailId}}</h3>

          
            </li>
            
          </ul>
        </div>
      </div> -->
      
        <div *ngIf="etat" class="card" >
          <div class="card-body">
            <div class="col-md-3  possition">
            </div><br>
            <div class=" float-left my-1 col-md-10">
              <div class="Identifiant mx-5"><strong>Identifiant:</strong>  </div>
              <div class="col-md-8"><strong>  </strong></div>
              <div class="row my-2">
                <div class="taille">
                  <div class="row">
                    <div class="col-md-2">Prenom:</div>
                    <div class="col-md-0"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">Nom: </div>
                    <div class="col-md-0">{{nomUser}}</div>
                  </div>
                  <div class="row">
                      <div class="col-md-2">Pseudo:</div>
                      <div class="col-md-0"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">Téléphone:</div>
                    <div class="col-md-0"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">E-mail:</div>
                    <div class="col-md-0"></div>
                  </div>
                  <br>
                  <div class="form-group mb-2">
                    <div class="offset-md-8 col-md-0" routerLinkActive="active">
                      <button class="btn btn-primary mr-4"
                      [routerLink]="['/utilisateurs', utilisateur.Id , 'edit']"
                      type="submit">Modifier
                      </button>
                      <button class="btn btn-outline-danger" type="button">
                        Supprimer
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    
    </div>
    
<!-- {{detailUser.id}}
{{detailUser.nom}} -->
    </div>
  </div>
  

  