@import '~material-icons/iconfont/material-icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


/* logo google */
.logo-google{
    width: 30px;
    height: 30px;
}
/* bouton de connexion avec gmail et de connexion */
.button-connexion{
width: 250px;
height: 40px;
text-align:center;
}
/* input */
.form-control{
    width: 10px;
}
/* titre de connexion */
.card-header{
    font-size: 35px;
}
