
<div class="container mt-5">
    <div class="row justify-content-md-center ">
        <div class="col-md-4 ">

            <div class="card " style="width: 20rem; height: 380px;">
                <div class="card-header text-center mb-3" style="background-color: #bdbdbd; height: 50px;">
                  <h4 style="margin-left: 80px; color: black; " >Connexion</h4>
                </div>
                <form (ngSubmit)="connecter(f)" #f="ngForm" class="needs-validation">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item ">
                          <div class="row justify-content-lg-center ">
                              <a class="btn btn-primary btn-sm mb-3 rounded-pill button-connexion" type="button"> <img class="logo-google" src="assets/images/google-logo.png" alt=""> Se Connecter avec Google</a>
                          </div>
                          <label for="exampleFormControlInput1" class="form-label">
                              <span class="color-danger text-danger">*</span>
                              Identifiant
                          </label>
                          <div class="input-group mb-3">
                              
                              <input type="text" class="form-control border-dark rounded-pill has-validation" name="email" ngModel placeholder="Identifiant" aria-label="Username" aria-describedby="basic-addon1">
                              
                          </div>
                          <label for="exampleFormControlInput1" class="form-label">
                              <span class="text-danger">*</span>
                              Mot de passe
                          </label>
                          <div class="input-group mb-3">
                              <input type="password" class="form-control border-dark rounded-pill" name="password" ngModel placeholder="Mot de passe" required>
                          </div>
                          <div *ngIf="validation=='INVALID'" [ngClass]="'error'">
                            <p>veuillez remplir tous les champs !</p>
                        </div>
                         <div class="mb-3">
                          <a [routerLink]="['/oublier']" > <h6 style="color: black; margin-top: -11px; font-size: 12px; margin-left: 10px;">mot de passe oublié</h6> </a>   
                         </div>
                         
                         
                          <div class="row justify-content-lg-center">
                                  <button class="btn btn-dark btn-sm button-connexion rounded-pill" type="submit">Se Connecter</button>
                          </div>
                          
                        </li>
                      </ul>
                </form>
                
              </div>

        </div>
    </div>
</div>
<!-- raspberry//169.254.14.77 -->