#barre {
background-color: black;
height: 46px;
width: 100%;
color: white;
}

.barre1 {
padding: 4px;
float: left;
min-width:125px;
}

.barre2 {
padding: 12px;
float: left;
padding-left: 60%;
min-width:125px;
}


.barre3 {
padding: 10px;
float: left;
padding-left: 10%;
min-width:12px;
}
.buttonDeconect{
    color: white;
    background-color: black;
}
a{
    color: white;
}