<style> 
#form{
    background-color:#E4E3E3;
    height: 700px;
    width: 600px;
    margin: 50px;
}
#barre4{
        background-color: gray;
       width: 600px;
       height: 50px;
       text-align: center;
    }
</style>


<div id="form">
    <div id="barre4"><p><strong>Inscription</strong> </p></div>
<form >
    <div class="row" style="padding: 25px;">
       <span>  <label for="exampleInputPrenom" class="form-label">Prenom</label></span>
       <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Prenom" id="exampleInputNom">
      </div>
      <span style="padding: 3%;">  <label for="exampleInputNom" class="form-label">Nom</label></span>
      <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Nom" id="exampleInputEmail1">
      </div>
</div>
    <div  class="row" style="padding: 25px;">
      
       
        <span style="padding: 1.5%;">  <label for="exampleInputEmail" class="form-label">Email</label></span>
      
        <div class="col-md-4">
           <input type="text" class="form-control" placeholder="Email" id="exampleInputEmail">
        </div>
        <span> <label for="exampleInputTelephone" class="form-label">Téléphone</label></span>
       
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Téléphone" id="exampleInputTelephone">
        </div>
    </div>
    <div  class="row"  style="padding: 25px;">
      
       
         <span style="padding: 0.8%;"><label for="exampleInputAdress" class="form-label">Adress</label></span>
        
        <div class="col-md-4">
           <input type="text" class="form-control" placeholder="Adress" id="exampleInputAdress">
        </div>
        <span style="padding: 1.5%;"> <label for="exampleInputPseudo" class="form-label">Pseudo</label></span>
       
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Pseudo" id="exampleInputPseudo">
        </div>
    </div>
   
    <div class="row">
     <div class="col-md-3" style="padding: 25px;"><p>Role :</p></div>
     <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" #dropdownMenu2>
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>

      <label for="cars">Choose a car:</label>

<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
      
    </div>
    <div class="row" style="padding: 70px; align-content: center;   ">
        <div class="col-md-4" style="padding: 10px;" >
            <button type="submit"  style="background-color: red;"  class="btn btn-primary">Annuler</button>
        </div>
        <div class="col-md-4" style="padding: 10px;" >
            <button type="submit"  style="background-color:black" class="btn btn-primary">Enregistrer</button>
        </div>
       
    </div>
    
   
  </form>
</div>



