<!-- <style>
    #form {
        background-color: #E4E3E3;
        height: 700px;
        width: 600px;
        margin: 50px;
    }

    #barre4 {
        background-color: gray;
        width: 600px;
        height: 50px;
        text-align: center;
    }
</style>

<div id="form">
    <div id="barre4">
        <p><strong>Inscription</strong></p>
    </div>
    <form (ngSubmit)="inscrire(f)" #f="ngForm">
        <div class="row" style="padding: 25px;">
            <span> <label for="exampleInputPrenom" class="form-label">Prenom</label></span>
            <div class="col-md-4">
                <input name="prenom" ngModel type="text" class="form-control" placeholder="Prenom" id="exampleInputNom">
            </div>
            <span style="padding: 3%;"> <label for="exampleInputNom" class="form-label">Nom</label></span>
            <div class="col-md-4">
                <input name="nom" ngModel type="text" class="form-control" placeholder="Nom" id="exampleInputEmail1">
            </div>
        </div>
        <div class="row" style="padding: 25px;">


            <span style="padding: 1.5%;"> <label for="exampleInputEmail" class="form-label">Email</label></span>

            <div class="col-md-4">
                <input name="email" ngModel type="text" class="form-control" placeholder="Email" id="exampleInputEmail">
            </div>
            <span> <label for="exampleInputTelephone" class="form-label">Téléphone</label></span>

            <div class="col-md-4">
                <input name="telephone" ngModel type="text" class="form-control" placeholder="Téléphone"
                    id="exampleInputTelephone">
            </div>
        </div>
        <div class="row" style="padding: 25px;">


            <span style="padding: 0.8%;"><label for="exampleInputAdress" class="form-label">Adress</label></span>

            <div class="col-md-4">
                <input name="adresse" ngModel type="text" class="form-control" placeholder="Adress"
                    id="exampleInputAdress">
            </div>
            <span style="padding: 1.5%;"> <label for="exampleInputPseudo" class="form-label">pseudo</label></span>

            <div class="col-md-4">
                <input name="pseudo" ngModel type="text" class="form-control" placeholder="Pseudo"
                    id="exampleInputPseudo">
            </div>
        </div>

        <div class="row">
            <div style="padding: 25px;">
                <label for="cars">Role</label>
                <select ngModel name="role" id="cars">
                    <option value="admin" style="background-color: gray;">Administrateur</option>
                    <option value="formateur" style="background-color: gray;">Formateur</option>
                    <option value="etudiant" style="background-color: gray;">Etudiant</option>
                    <option value="finance" style="background-color: gray;">Finance</option>
                </select>
            </div>
        </div>

        <div class="row" style="padding: 70px; align-content: center;   ">
            <div class="col-md-3" style="padding: 50px;">
                <button type="submit" style="background-color: red;" class="btn btn-primary">Annuler</button>
            </div>
            <div style="padding: 50px;">
                <button type="submit" style="background-color:black" class="btn btn-primary">Enregistrer</button>
            </div>

        </div>


    </form>
</div> -->

<div class="card container my-5">
    <div class="inscription text-center">
        <h4>Inscription</h4>
    </div>    
      <div class="card-body ">
        <form (ngSubmit)="inscrire(f)" #f="ngForm"> 
            <div class=" row mb-5">
                <label for="exampleInputPrenom" 
                class="col-md-2.5 col-form-label">
                Prenom</label>
                <div class="col-md-4">
                    <input name="prenom" 
                    ngModel type="text" 
                    class="form-control" 
                    placeholder="Prenom" 
                    id="exampleInputNom"
                    />
                </div>
                <label for="exampleInputNom"  
                class="col-md-1.5 col-form-label">
                Nom</label>
                <div class="col-md-4">
                    <input name="nom" 
                    ngModel type="text" 
                    class="form-control" 
                    placeholder="Nom" 
                    id="exampleInputEmail1"
                    />
                </div>
            </div>
            
            <div class="form-group row mb-6">
                <label for="exampleInputTelephone" 
                class="col-md-1.5 col-form-label">
                Téléfon</label>
                <div class="col-md-4">
                    <input name="telephone" 
                    ngModel type="text" 
                    class="form-control" 
                    placeholder="Téléphone"
                    id="exampleInputTelephone"
                    />
                </div>
                <label for="exampleInputEmail" 
                class="col-md-1.5 col-form-label">
                E-mail</label>
                <div class="col-md-4">
                    <input name="email" 
                    ngModel type="text" 
                    class="form-control" 
                    placeholder="E-mail" 
                    id="exampleInputEmail"
                    />
                </div>
            </div>
           
            <div class="form-group row mb-5">
                <label for="exampleInputAdress" 
                class="col-md-1.5 col-form-label">
                Adress</label>
                <div class="col-md-4">
                    <input name="adresse" 
                    ngModel type="text" 
                    class="form-control" 
                    placeholder="Adress"
                    id="exampleInputAdress"
                    />
                </div>
                <label for="exampleInputPseudo" 
                class="col-md-1.5 col-form-label">
                Pseudo</label>
                <div class="col-md-4">
                    <input name="pseudo" 
                    ngModel type="text" 
                    class="form-control" 
                    placeholder="Pseudo"
                    id="exampleInputPseudo"
                    />
                </div>
            </div>

            <div class="row my-5 mx-5">
                <div class="col-md-1">
                    <label for="cars">Role</label>
                </div>
                <div class="col-md-6 ">
                    <select ngModel name="role" id="cars">
                        <option value="admin" style="background-color: gray;">Administrateur</option>
                        <option value="formateur" style="background-color: gray;">Formateur</option>
                        <option value="etudiant" style="background-color: gray;">Etudiant</option>
                        <option value="finance" style="background-color: gray;">Finance</option>
                    </select>
                </div>
            </div>

            <div class="">
                <div class="offset-md-2 col-md-8">
                    <button class="btn btn-outline-secondary mr-5" type="button">
                        Annuler
                    </button>
                    <button class="btn btn-info mr-4" type="submit">
                        Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>