 
<div class="container mt-5">
  <div class="row justify-content-md-center ">
      <div class="col-md-4 ">

          <div class="card " style="width: 20rem;">
              <div class="card-header text-center mb-3 ">
                Connexion
              </div>
              <form (ngSubmit)="connecter(f)" #f="ngForm" class="needs-validation" novalidate>
                  <ul class="list-group list-group-flush ">
                      <li class="list-group-item ">
                       
                        <label for="exampleFormControlInput1" class="form-label">
                            <span class="color-danger text-danger">*</span>
                            mail
                        </label>
                        <div class="input-group mb-3">
                            
                            <input type="email" class="form-control border-dark rounded-pill required" required name="mail" ngModel placeholder="nom@domain.com" aria-label="mail" aria-describedby="basic-addon1">
                        </div>
                        <label for="exampleFormControlInput1" class="form-label">
                            <span class="text-danger">*</span>
                            télephone
                        </label>
                        <div class="input-group mb-3">
                            
                            <input type="text" class="form-control border-dark rounded-pill" required="required" name="telephone" ngModel placeholder="télephone" aria-label="télephone" aria-describedby="basic-addon1">
                        </div>

                            <div class="row justify-content-lg-center">
                                <button class="btn btn-dark btn-sm button-connexion rounded-pill" type="submit">Envoyer</button>
                        </div>
                      </li>
                    </ul>
              </form>
              
            </div>

      </div>
  </div>
</div>

